<style src="./CardItem.scss"></style>

<script setup lang="ts">

import type {ICardItemProps} from './interfaces/card-item-props.interface';
import {ref, watch} from "vue";

const props = defineProps<ICardItemProps>()
const isCardClosed = ref<boolean>(true);

watch(() => props.isClosed, (newValue) => {
  isCardClosed.value = newValue
})

</script>

<template>
  <div :class="`card ${props.state} ${props.suit} ${isCardClosed ? '' : 'opened'}`" >
    <div class="container">
      <div class="card-side front-side">
        <template v-if="props.state === 'visible' || isCardClosed === false">
          <div class="value">
            {{ props.value }}
          </div>
          <div class="suit"></div>
        </template>
      </div>
      <div class="card-side back-side"></div>
    </div>
  </div>
</template>
