.card {
  width: 140px;
  height: 200px;
  transform: translateY(0px);

  > .container {
    width: 100%;
    height: 100%;
    position: relative;

    > .card-side {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
      backface-visibility: hidden;
      transition: transform .65s ease-in-out;
      border: 10px solid transparent;
      border-radius: 20px;

      &.front-side {
        background: white;
        transform: rotateY(0deg);
        position: absolute;
        box-shadow: -5px 5px 8px 2px rgba(0,0,0,.5);
      }

      &.back-side {
        transform: rotateY(-180deg);
        position: absolute;
        background: #1660B6 url("src/assets/images/hidden-card-backgroud.png") no-repeat;
        background-size: cover;
        opacity: .65;
        border-color: #565762;
      }
    }
  }

  &.visible {
    position: absolute;
    top: 0;
    left: calc(50% - 70px);

    > .container {
      > .card-side {
        &.front-side {
          transform: rotateY(0deg);
        }

        &.back-side {
          transform: rotateY(-180deg);
        }
      }
    }
  }

  &.hidden {
    > .container {
      > .card-side {
        &.front-side {
          transform: rotateY(-180deg);
        }

        &.back-side {
          transform: rotateY(0deg);
        }
      }
    }
  }

  &.opened {
    > .container {
      > .card-side {
        &.front-side {
          transform: rotateY(0deg);
        }

        &.back-side {
          transform: rotateY(-180deg);
        }
      }
    }
    transform: translateY(-214px) translateX(8px);
    transition: transform .65s ease-in-out;
  }

  .value {
    width: 30px;
    height: 30px;
    font-family: Calibri, sans-serif;
    text-align: center;
    line-height: 25px;
    font-size: 40px;
    font-weight: bold;
    margin-left: 10px;
  }

  .suit {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &.diamonds {
    .value {
      color: #e82b2c;
    }
    .suit {
      background-image: url("src/assets/images/diamond_suit.png");
    }
  }
  &.hearts {
    .value {
      color: #e82b2c;
    }
    .suit {
      background-image: url("src/assets/images/heart_suit.png");
    }
  }
  &.spades {
    .suit {
      background-image: url("src/assets/images/spade_suit.png");
    }
  }
  &.clubs {
    .suit {
      background-image: url("src/assets/images/club_suit.png");
    }
  }
}

@media (max-width: 768px) {
  .card {
    &.visible {
      top: calc(50% - 100px);
    }
    &.opened {
      transform: translateY(-334px) translateX(8px);
    }
  }
}