.card-game {
  width: 100%;
  height: 100%;
  background: #1A1D33 url("src/assets/images/card-game-background.png") no-repeat;
  background-size: cover;
  display: flex;

  .game-container {
    display: flex;
    height: 420px;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    position: relative;


    .card-list-and-actions {
      display: flex;
      justify-content: center;
      gap: 60px;
      align-items: center;

      button {
        width: 50px;
        height: 50px;
        border: 4px solid;
        cursor: pointer;
        border-radius: 50%;

        &.low-or-same {
          background: #DD385F;
          border-color: #BC3353;
        }

        &.high-or-same {
          background: #71C658;
          border-color: #66AC52;
        }
      }

      .cards-list {
        display: flex;
        gap: 20px;
      }
    }
  }
}

@media (max-width: 768px) {
  .card-game {
    .game-container {
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
      box-sizing: border-box;

      .card-list-and-actions {
        button {
          position: absolute;
          top: calc(50% - 25px);

          &.low-or-same {
            left: 25px;
          }

          &.high-or-same {
            right: 25px;
          }
        }
      }
    }
  }
}