<style src="./CardsGame.scss"></style>

<script setup lang="ts">
import CardItem from "@/components/card-item/CardItem.vue";
import {ref} from "vue";

const cardVisibility = ref<boolean>(false);

function handleAction() {
  cardVisibility.value = true;
}
</script>

<template>
  <div class="card-game">
    <div class="game-container">
      <div class="card-list-and-actions">
        <button @click="handleAction" class="low-or-same"></button>
        <div class="cards-list">
          <CardItem suit="spades" value="9" state='visible'/>
          <CardItem value="9" suit="clubs" state='hidden'/>
          <CardItem value="Q" suit="hearts" state='hidden' :isClosed="!cardVisibility"/>
          <CardItem value="K" suit="diamonds" state='hidden'/>
        </div>
        <button @click="handleAction" class="high-or-same"></button>
      </div>
      </div>
  </div>
</template>
